.first-grid {
    margin-top: 0px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 15px;
    row-gap: 15px;
}


.side-container {
    background-color: white;
    width: 200px;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    grid-row: span 2;
}
.side {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
    padding: 5.5px 0px 5.5px 0px;
}
.side:hover .side-icon {
    filter: brightness(0) saturate(100%) invert(74%) sepia(74%) saturate(4079%) hue-rotate(349deg) brightness(103%) contrast(93%);
}
.side-icon {
    width: 20px;
    padding-right: 7px;
    margin-right: -7px;
}
.side-main-text {
    background-color: l;
}
.side div {
    font-size: 12px;
    font-weight: 300;
    margin-left: 7px;
}
.middle-container {
    display: grid;
    grid-auto-flow: column;
    grid-row: span 2;
    overflow-x: auto;
    width: 712px;
    gap: 3px;
    scroll-snap-type: inline mandatory;
}
.middle-container img {
    border-radius: 5px;
    scroll-snap-align: start;
}
.right-container1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 210px;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
}
.right-1 {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.right-1 img {
    height: 35px;
}
.right-1 div {
    font-size: 14px;
    margin-left: 8px;
}
.no2 {
    color: rgb(68, 68, 68);
    font-size: 13px;
}
.right-container2 img {
    border-radius: 4px;
}